<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}UnCollared{% endblock %}</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'homepage' %}" class="logo">UnCollared</a>
        <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'adoption' %}">Adoption</a></li>
                <li><a href="{% url 'donation' %}">Donation</a></li>
                <li><a href="{% url 'community_cats' %}">Community Cats</a></li>
                <li><a href="{% url 'thread' %}">Threads</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'adoption' %}">Adoption</a></li>
                <li><a href="{% url 'donation' %}">Donation</a></li>
                <li><a href="{% url 'community_cats' %}">Community Cats</a></li>
                <li><a href="{% url 'thread' %}">Threads</a></li>
                <li><a href="{% url 'sign_in' %}">Sign In</a></li>
                <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </header>
    <section class="banner"></section>
    {% block content %}
    {% endblock %}
    <script type="text/javascript">
        window.addEventListener("scroll", function() {
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        });
    </script>
</body>
</html>
