{% extends 'base.html' %}

{% block title %}Threads{% endblock %}

{% block content %}
<div class="thread-container">
    <p>Thread Page</p>
    <div class="thread-explanation">
        <h1>Join the Conversation</h1>
    <p>Connect with other animal lovers, share stories, and get advice in our community forum.</p>
    </div>
</div>
    {% if user.is_authenticated %}
        <a href="render_create_thread/" class="create-thread">Create Thread</a>
    {% endif %}
    <h1>Threads</h1>
    <div id="thread-list"></div>
    <div id="thread-detail"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetchThreads();

            function fetchThreads() {
                fetch('/api/threads/list')
                    .then(response => response.json())
                    .then(threads => {
                        const threadList = document.getElementById('thread-list');
                        threadList.innerHTML = '';

                        threads.forEach(thread => {
                            const threadItem = document.createElement('div');
                            threadItem.classList.add('thread-card');
                            threadItem.innerHTML = `
                                <h2 class="thread-title">${thread.title}</h2>
                                <p class="thread-author">By: ${thread.author.username}</p>
                                <button onclick="viewThread(${thread.id})" class="view-button">View</button>
                            `;
                            threadList.appendChild(threadItem);
                        });
                    });
            }

            window.viewThread = function(threadId) {
                window.location.href = `/render_thread_details/${threadId}/`;
            }
        });
    </script>
{% endblock %}
